a {
    color:black;
}
h1 {
  font-size: 55px;
  text-align: center;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h5 {
  text-align: right;
}
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
